---
import Layout from '../../layouts/Layout.astro'
import Preview from '../../react/auctions/PreviewPage';
const { searchParams } = Astro.url;
const stateParam = searchParams.get('state');
const typeParam = searchParams.get('type');
---
<Layout title="Auction Preview - Originals">
    <main class="min-h-screen bg-gray-50 dark:bg-gray-900">
      <div class="mx-auto max-w-5xl px-4 py-8">
        <Preview client:only="react" stateParam={stateParam} typeParam={typeParam} />
      </div>
    </main>
</Layout>
