---
import { helloDutch } from '@originals/dutch';
const msg = helloDutch('Astronaut');
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Originals Web</title>
  </head>
  <body>
    <main>
      <h1>{msg}</h1>
      <p>API at <a href="http://localhost:3000/hello">/hello</a></p>
    </main>
  </body>
  </html>
